---
import { TypeFlags } from "typescript"
import Python from "./icons/Python.astro"
import Github from "./icons/Github.astro"
import Javascript from "./icons/Javascript.astro"
import Tailwind from "./icons/Tailwind.astro"
import IconAstro from "./icons/IconAstro.astro"
import Excel from "./icons/Excel.astro"
import Tableau from "./icons/Tableau.astro"


const TAGS = {
    PYTHON: {
        name: "Python",
        class: "bg-[#003159] text-white",
        icon: Python
    },
    ASTRO: {
        name: "Astro",
        class: "bg-violet-500 text-white",
        icon: IconAstro
    },
    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-yellow-200 text-black",
        icon: Javascript
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-[#003159] text-white",
        icon: Tailwind
    },
    EXCEL: {
        name: "Excel",
        class: "bg-[#4cba79] text-white",
        icon: Excel
    },
    TABLEAU: {
        name: "Tableau",
        class: "bg-[#7679e0] text-white",
        icon: Tableau
    }
}

const PROJECTS = [
    {
        title: "House Price California",
        description: "A model build with Python library SkLearn to predict a house price of California based in some metrics.",
        github: "https://github.com/VictorMoralesQ/california_housing",
        image: "/projects/california_housing.webp",
        tags: [TAGS.PYTHON]
    },
    {
        title: "Clone Landing Page KnowEats",
        description: "Clone of the landing page of Knoweats with Astro, JS and Tailwind CSS with educational fines.",
        github: "https://github.com/VictorMoralesQ/clone_knoweats_astro",
        image: "/projects/clone_knoweats.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.TAILWIND, TAGS.ASTRO]
    },
    {
        title: "Twitter Sentiment Analysis",
        description: "A model build with Python library to predict a tweet sentiment based in some metrics.",
        github: "https://github.com/VictorMoralesQ/twitter_project",
        image: "/projects/dashboard_twitter.webp",
        tags: [TAGS.PYTHON, TAGS.EXCEL, TAGS.TABLEAU]
    }
   
]
---
<div class="grid grid-cols-2 gap-x-4 gap-y-16 w-full p-3">
   
{
    PROJECTS.map(({title, description, tags, image, github}) =>(
    <div class="col-span-1 w-full rounded-lg overflow-hidden">
        <img class="w-full" src={image} alt={title} />
        <div class="p-4">
            <h4 class="text-xl text-black font-semibold mb-2">{title}</h4>
            <p class="text-black/80 text-wrap">{description}</p>
            <div class="mt-2 flex flex-row gap-x-2">
                {tags.map((tag) =>(
                    <span class={`inline-flex gap-x-1 rounded-full text-xs ${tag.class} py-1 px-3`}>
                        <tag.icon class="size-4" />
                        {tag.name}
                        </span>
                ))}
            </div>
            <footer class="mt-4">
                <a href={github} class="flex justify-center rounded bg-[#389547] hover:bg-[#337a35] text-white font-normal py-2 px-4" target="_blank" rel="noopener noreferrer">
                    <Github class="size-5 flex flex-row my-auto mr-2"></Github>    
                    Source code ></a>
            </footer>
        </div>
    </div> 
    ))
}

</div>